<a href="https://colab.research.google.com/github/KimYongHwi/dacon/blob/main/dacon_school/1%E1%84%8C%E1%85%AE%E1%84%8E%E1%85%A1_%E1%84%80%E1%85%AA%E1%84%8C%E1%85%A6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/dirve')

Mounted at /content/dirve

In [ ]:
import os
import pandas as pd

print(f"현재 디렉토리 위치: {os.getcwd()}")

data_path = '/content/dirve/MyDrive/Dacon school/data/'

train = pd.read_csv(data_path + 'train.csv')
test_x = pd.read_csv(data_path + 'test_x.csv')

현재 디렉토리 위치: /content

In [ ]:
train

       index  QaA   QaE  QbA   QbE  ...  wr_09  wr_10  wr_11  wr_12  wr_13
0          0  3.0   363  4.0  1370  ...      0      1      0      1      1
1          1  5.0   647  5.0  1313  ...      0      1      0      1      1
2          2  4.0  1623  1.0  1480  ...      1      1      0      1      1
3          3  3.0   504  3.0  2311  ...      0      1      0      1      1
4          4  1.0   927  1.0   707  ...      0      1      1      1      1
...      ...  ...   ...  ...   ...  ...    ...    ...    ...    ...    ...
45527  45527  2.0  1050  5.0   619  ...      1      1      0      1      1
45528  45528  2.0   581  3.0  1353  ...      1      1      0      1      1
45529  45529  4.0   593  1.0   857  ...      0      1      0      1      1
45530  45530  1.0   747  3.0  1331  ...      1      1      0      1      1
45531  45531  3.0   496  5.0  1827  ...      0      1      0      1      1

[45532 rows x 78 columns]

### 1. QaA 부터 QtE 까지 출력해보세요

In [ ]:
train.loc[:, 'QaA': 'QtE']

       QaA   QaE  QbA   QbE  QcA   QcE  ...  QrA   QrE  QsA   QsE  QtA   QtE
0      3.0   363  4.0  1370  5.0   997  ...  2.0   876  2.0   633  1.0  1115
1      5.0   647  5.0  1313  3.0  3387  ...  1.0  3039  4.0  4304  1.0  1346
2      4.0  1623  1.0  1480  1.0  1021  ...  4.0  1327  1.0  1170  1.0  1409
3      3.0   504  3.0  2311  4.0   992  ...  4.0  8830  4.0  2392  5.0  1312
4      1.0   927  1.0   707  5.0   556  ...  5.0  1070  1.0   583  2.0  1889
...    ...   ...  ...   ...  ...   ...  ...  ...   ...  ...   ...  ...   ...
45527  2.0  1050  5.0   619  4.0   328  ...  1.0   309  5.0   586  4.0  2252
45528  2.0   581  3.0  1353  4.0  1164  ...  3.0  1118  4.0   654  4.0  1197
45529  4.0   593  1.0   857  1.0  1047  ...  5.0  1779  3.0  1355  1.0   667
45530  1.0   747  3.0  1331  4.0   892  ...  4.0  1680  4.0   737  1.0  1124
45531  3.0   496  5.0  1827  5.0   754  ...  4.0   736  4.0   667  5.0  1665

[45532 rows x 40 columns]

### 2. age 부터 religion 까지 출력해보세요

In [ ]:
train.loc[:, 'age_group': 'religion']

      age_group  education  engnat  ...  married   race         religion
0           30s          2       1  ...        3  White            Other
1           20s          4       2  ...        1  Asian            Hindu
2           30s          3       1  ...        2  White            Other
3           20s          4       2  ...        1  Asian            Hindu
4           20s          3       1  ...        2  White         Agnostic
...         ...        ...     ...  ...      ...    ...              ...
45527       10s          2       1  ...        1  White           Jewish
45528       30s          2       1  ...        1  White          Atheist
45529       10s          2       1  ...        1  White  Christian_Other
45530       40s          4       1  ...        1  White          Atheist
45531       20s          2       1  ...        1  White         Agnostic

[45532 rows x 9 columns]

### 3. tp로 시작하는 Feature들을 출력해보세요

In [ ]:
train.loc[:, 'tp01':'tp10']

       tp01  tp02  tp03  tp04  tp05  tp06  tp07  tp08  tp09  tp10
0         2     2     2     1     2     1     7     4     4     3
1         1     1     0     0     1     2     3     4     0     4
2         2     3     1     5     3     4     2     6     1     3
3         2     4     1     1     1     3     1     3     1     3
4         1     1     1     6     0     2     0     6     2     6
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
45527     1     2     6     1     2     6     3     0     6     4
45528     2     2     2     3     1     3     3     4     1     5
45529     4     4     2     4     0     1     0     2     1     6
45530     1     2     0     4     0     1     3     2     2     4
45531     3     2     1     2     3     0     2     3     1     2

[45532 rows x 10 columns]

### 4. Urban부터 끝까지 출력해보세요

In [ ]:
train.loc[:, 'urban':]

       urban  voted  wf_01  wf_02  wf_03  ...  wr_09  wr_10  wr_11  wr_12  wr_13
0          1      2      0      0      0  ...      0      1      0      1      1
1          3      2      0      0      0  ...      0      1      0      1      1
2          2      1      0      0      1  ...      1      1      0      1      1
3          3      1      0      0      0  ...      0      1      0      1      1
4          1      1      0      1      0  ...      0      1      1      1      1
...      ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
45527      3      2      0      0      1  ...      1      1      0      1      1
45528      1      2      0      0      1  ...      1      1      0      1      1
45529      2      1      0      0      0  ...      0      1      0      1      1
45530      0      1      0      0      0  ...      1      1      0      1      1
45531      2      1      1      1      1  ...      0      1      0      1      1

[45532 rows x 18 columns]

### 5. 추가문제 : List Comprehension을 이용해 QxA로 된 피쳐들과 QxE로 시작되는 피쳐들을 출력해보세요

In [ ]:
train.loc[:, [column for column in train.columns if (column.startswith("Q") & column.endswith("A"))]]

       QaA  QbA  QcA  QdA  QeA  QfA  QgA  ...  QnA  QoA  QpA  QqA  QrA  QsA  QtA
0      3.0  4.0  5.0  1.0  2.0  5.0  2.0  ...  5.0  2.0  2.0  2.0  2.0  2.0  1.0
1      5.0  5.0  3.0  5.0  1.0  3.0  1.0  ...  5.0  1.0  5.0  5.0  1.0  4.0  1.0
2      4.0  1.0  1.0  4.0  5.0  1.0  4.0  ...  4.0  2.0  1.0  5.0  4.0  1.0  1.0
3      3.0  3.0  4.0  3.0  1.0  2.0  4.0  ...  4.0  4.0  4.0  3.0  4.0  4.0  5.0
4      1.0  1.0  5.0  2.0  1.0  2.0  1.0  ...  2.0  1.0  4.0  5.0  5.0  1.0  2.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
45527  2.0  5.0  4.0  1.0  1.0  1.0  1.0  ...  1.0  2.0  4.0  2.0  1.0  5.0  4.0
45528  2.0  3.0  4.0  1.0  3.0  2.0  2.0  ...  2.0  4.0  4.0  2.0  3.0  4.0  4.0
45529  4.0  1.0  1.0  4.0  5.0  4.0  5.0  ...  4.0  1.0  1.0  5.0  5.0  3.0  1.0
45530  1.0  3.0  4.0  2.0  1.0  1.0  1.0  ...  3.0  1.0  1.0  4.0  4.0  4.0  1.0
45531  3.0  5.0  5.0  3.0  1.0  4.0  3.0  ...  4.0  4.0  4.0  4.0  4.0  4.0  5.0

[45532 rows x 20 columns]

In [ ]:
train.loc[:, [column for column in train.columns if (column.startswith("Q") & column.endswith("E"))]]

        QaE   QbE   QcE   QdE   QeE   QfE  ...   QoE    QpE   QqE   QrE   QsE   QtE
0       363  1370   997  1024  1577   539  ...   579    924   366   876   633  1115
1       647  1313  3387  2969  4320  2190  ...  1214   2414  1356  3039  4304  1346
2      1623  1480  1021  3374  1333   531  ...  1304   1131   937  1327  1170  1409
3       504  2311   992  3245   357  1519  ...  1169  23868   581  8830  2392  1312
4       927   707   556  1062  1014   628  ...   754   1140   323  1070   583  1889
...     ...   ...   ...   ...   ...   ...  ...   ...    ...   ...   ...   ...   ...
45527  1050   619   328   285   602   267  ...  1915    439   823   309   586  2252
45528   581  1353  1164   798  1680   560  ...  1524    719   754  1118   654  1197
45529   593   857  1047  1515  1690  1253  ...  1298   1200   473  1779  1355   667
45530   747  1331   892  1281  1328   599  ...   489    913  1301  1680   737  1124
45531   496  1827   754  1117   432  1422  ...   914    620   410   736   667  1665

[45532 rows x 20 columns]

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html

In [ ]:
train.filter(regex='Q*A')

       QaA  QbA  QcA  QdA  QeA  QfA  QgA  ...  QnA  QoA  QpA  QqA  QrA  QsA  QtA
0      3.0  4.0  5.0  1.0  2.0  5.0  2.0  ...  5.0  2.0  2.0  2.0  2.0  2.0  1.0
1      5.0  5.0  3.0  5.0  1.0  3.0  1.0  ...  5.0  1.0  5.0  5.0  1.0  4.0  1.0
2      4.0  1.0  1.0  4.0  5.0  1.0  4.0  ...  4.0  2.0  1.0  5.0  4.0  1.0  1.0
3      3.0  3.0  4.0  3.0  1.0  2.0  4.0  ...  4.0  4.0  4.0  3.0  4.0  4.0  5.0
4      1.0  1.0  5.0  2.0  1.0  2.0  1.0  ...  2.0  1.0  4.0  5.0  5.0  1.0  2.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
45527  2.0  5.0  4.0  1.0  1.0  1.0  1.0  ...  1.0  2.0  4.0  2.0  1.0  5.0  4.0
45528  2.0  3.0  4.0  1.0  3.0  2.0  2.0  ...  2.0  4.0  4.0  2.0  3.0  4.0  4.0
45529  4.0  1.0  1.0  4.0  5.0  4.0  5.0  ...  4.0  1.0  1.0  5.0  5.0  3.0  1.0
45530  1.0  3.0  4.0  2.0  1.0  1.0  1.0  ...  3.0  1.0  1.0  4.0  4.0  4.0  1.0
45531  3.0  5.0  5.0  3.0  1.0  4.0  3.0  ...  4.0  4.0  4.0  4.0  4.0  4.0  5.0

[45532 rows x 20 columns]

In [ ]:
train.filter(regex='Q*E')

        QaE   QbE   QcE   QdE   QeE   QfE  ...   QoE    QpE   QqE   QrE   QsE   QtE
0       363  1370   997  1024  1577   539  ...   579    924   366   876   633  1115
1       647  1313  3387  2969  4320  2190  ...  1214   2414  1356  3039  4304  1346
2      1623  1480  1021  3374  1333   531  ...  1304   1131   937  1327  1170  1409
3       504  2311   992  3245   357  1519  ...  1169  23868   581  8830  2392  1312
4       927   707   556  1062  1014   628  ...   754   1140   323  1070   583  1889
...     ...   ...   ...   ...   ...   ...  ...   ...    ...   ...   ...   ...   ...
45527  1050   619   328   285   602   267  ...  1915    439   823   309   586  2252
45528   581  1353  1164   798  1680   560  ...  1524    719   754  1118   654  1197
45529   593   857  1047  1515  1690  1253  ...  1298   1200   473  1779  1355   667
45530   747  1331   892  1281  1328   599  ...   489    913  1301  1680   737  1124
45531   496  1827   754  1117   432  1422  ...   914    620   410   736   667  1665

[45532 rows x 20 columns]